@font-face {
  font-family: 'iconfont';  /* project id 1443438 */
  src: url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.eot');
  src: url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.woff') format('woff'),
  url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1443438_zpjvn4ds94d.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


