@font-face {
  font-family: 'iconfont';  /* project id 1443438 */
  src: url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.eot');
  src: url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.woff') format('woff'),
  url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1443438_23j20kpktzoi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


